# Directorios y ficheros no necesarios
.vscode/
manage*
media*/
server_*
*.sqlite3
node_*/
ignore*
test_vue/
gsui_dist/
.gradle/



#excepciones
!manage_template.py
!management/
!gestion_ui/


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# dotenv
.env

# virtualenv
.venv
venv/
ENV/