sl_dump.json
testtpv.back
aplicaciones_gestion_sueltas
output.json

# Directorios y ficheros no necesarios
.vscode/
manage*
media*/
server_*
*.sqlite3
node_*/
ignore*
test_vue/
gsui_dist/
platforms/
www/
.idea/
release/
node*
**/control_impresoras/test*
dist/
*.apk
*.aab
.gradle/
.buildozer/
test/
javascript/**/android/
dist_electron/
django/**/valleges

#excepciones
!manage_template.py
!management/
!gestion_ui/
!django/valletpv_web/static/www
!django/valletpv_web/manage.py



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# dotenv
.env

# virtualenv
.venv
venv/
ENV/


# Created by https://www.gitignore.io/api/java,gradle

### Java ###
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### Gradle ###
.gradle
/build/
/release/
*.apk
*.aab


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

# End of https://www.gitignore.io/api/java,gradle