{% extends "base_admin.html" %}
{% block content %}
{% include "menus.html" %}

<div id="app">
  <valle-menu v-bind:titulo='titulo' v-bind:items='items'></valle-menu>
</div>

<script type="text/javascript">
  var app = new Vue({
      el: '#app',
      data:{
        titulo: "Menu principal",
        items:[
          {href: "{% url 'gestion:inicio'  %}", titulo: "Gestion"},
          {href: "{% url 'conta:inicio'  %}", titulo: "Contabilidad"},
          {href: "{% url 'en_construccion'  %}", titulo: "Almacen"},
          {href: "{% url 'gestion:lista_camareros'  %}", titulo: "Camareros"},
          {href: "{% url 'gestion:modificar_secciones_comanda'  %}", titulo: "Teclas comanda"},
          {href: "{% url 'gestion:lista_secciones'  %}", titulo: "Teclas TPV"},
          {href: "{% url 'gestion:lista_familias'  %}", titulo: "Cambiar Precios"},
          {href: "{% url 'gestion:articulos'  %}", titulo: "Todas las teclas"}
        ]
      }
  })
</script>
{% endblock content %}
