{% extends "base_admin.html" %}
{% block content %}
{% load global_tag %}
{% load gestion_tag %}
{% include "controls/listado.html" %}
{% include "controls/dg_edicion.html" %}
{% include "controls/dg_botonera.html" %}

<div id="app">
   {% if tecla %}
     <v-btn v-if="show_preview==true" fab button right fixed color="blue" @click="show_dialog_btn();">
          <v-icon> mdi-domain</v-icon>
        </v-btn>
    {% endif %}

  <valle-listado v-bind:titulo='titulo'
                 v-bind:cabeceras='cabeceras'
                 v-bind:mensaje='mensaje'
                 v-bind:items='items'
                 v-on:action-click='action_click'
                 v-bind:ocultar_find="ocultar_find"
                 ref="listado"
                 v-on:onsubmit="onsubmit"></valle-listado>

  <valle-dg-edicion v-bind:fields='fields'
                    v-bind:model='model'
                    ref="dg_edicion"
                    name='edit_teclas'
                    v-on:onsubmit="onsubmit_dg"
                    ></valle-dg-edicion>


  <valle-dg-botonera  :botones='items'
                      titulo_dg='Botones TPV'
                      ref='dg_botonera'
                      max_btn='18'
                      ></valle-dg-botonera>

</div>

<script type="text/javascript">
  Vue.use(Toasted);
  new Vue({
    delimiters: ['[[', ']]'],
    el:'#app',
    data:{
      show_preview: true,
      ocultar_find: {{listado|is_max:18}},
      tecla: '{{tecla}}',
      defaults: [["tecla", '{{tecla}}']],
      {% if nombre_tecla %}
      titulo: 'Tecla: {{nombre_tecla}} {{precio}}' ,
      precio: '{{precio}}',
      {% else %}
      titulo: 'Subteclas',
      precio: 0,
      {% endif %}
     
      cabeceras: ['Nombre', 'Precio Total', "Descripcion"],
      mensaje: 'Agregar subtecla nueva',
      items: [
        {% for l in listado %}
            { cols: ['{{l.nombre}}', '{{l|get_total_precio}}', '{{nombre_tecla}} {{l.nombre}}'],
              botones: [{tipo:'edit', icon:'fas fa-edit'},
                        {tipo:'borrar', icon:'far fa-trash'}],
              'obj': {"id":'{{l.id}}',"nombre":'{{l.nombre}}', "incremento":"{{l.incremento}}",
                      'color':'{{l|get_color:True}}',
                      "descripcion_t":"{{l.descripcion_t}}", "descripcion_r":"{{l.descripcion_r}}"}
            },
        {% endfor %}
      ],
      fields: [
           {% for field in form %}
              {
               name: '{{field.name}}',
               label: '{{field.label }}',
               html: '{{field|get_control_vue }}'
              },
           {% endfor %}
         ],
      model: [ "nombre", "incremento", "descripcion_r", "descripcion_t"],
      isNuevo: false,
    },
    methods:{
        show_dialog_btn: function(){
           this.$refs.dg_botonera.show();
        },
        action_click: function(obj, tipo){
          var cx = this;
          if (tipo=="borrar"){
            $.get('{% url "gestion:rm_subtecla" id=1 %}'.replace('1', obj.obj.id), function(res){
                if (res == "success"){
                  cx.items.splice(cx.items.indexOf(obj), 1);
                  cx.ocultar_find =  cx.items.length >= 18;
                  cx.show_preview = cx.items.length > 0;
                }
            });
          }else if (tipo=="edit"){
             this.nuevo = false;
             obj.obj.item = obj
             this.$refs.dg_edicion.show(obj.obj, 'Editar subtecla');
          }else if (tipo=='ver'){
             location.replace('{% url "gestion:lista_subteclas_tecla" id=1 %}'.replace('/1', "/"+obj.obj.id))
          }else if (tipo=='nuevo'){
            this.nuevo = true;
            this.$refs.dg_edicion.show(null, 'Subtecla nueva');
          }
        },
        onsubmit: function(data){
          var cx = this;
          $.post('{% url "gestion:lista_teclas_subtecla" %}',
                  data, function(res){
              cx.cabeceras = ["Nombre", "Precio 1", "Precio 2", "Secciones"];
              cx.items = res;
          });
        },
        onsubmit_dg: function(data, obj){
          var url = '';
          var cx = this;
          if (this.nuevo){
              url = '{% url "gestion:add_subtecla" id=0 %}'.replace('/0', '/'+this.tecla);
          }else{
              url = '{% url "gestion:edit_subtecla" id=1  %}'.replace('/1', '/'+obj.id);
          }
          $.post(url, data, function(res){
             if (!res.success){
                 Vue.toasted.show('Todos los campos deben rellenarse..',  {
                   'position': 'top-center',
                   'fullWidth': true,
                   'duration': 2000,
                 });
             }else{
                 if(obj != null){
                   var index = cx.items.indexOf(obj.item);
                   cx.items.splice(index, 1, res);
                 }else{
                   cx.items.push(res);
                 }
                 cx.ocultar_find =  cx.items.length >= 18;
                 cx.show_preview = cx.items.length > 0;
                 cx.$refs.dg_edicion.hide();
             }
          });
        }
      }
  });
</script>

{% endblock content %}
