{% extends "base_admin.html" %}
{% block content %}
{% load global_tag %}
{% load gestion_tag %}
{% include "controls/listado.html" %}
{% include "controls/dg_edicion.html" %}

<style media="screen">

   .btn_tpv {
      padi: 2px;
      width: 20%;
      height: 7em;
      display: inline-grid;
   }
</style>

<div id="app">
   
  <valle-listado v-bind:titulo='titulo'
                 v-bind:cabeceras='cabeceras'
                 v-bind:mensaje='mensaje'
                 v-bind:items='items'
                 v-on:action-click='action_click'
                 v-on:onsubmit="onsubmit"></valle-listado>

  <valle-dg-edicion v-bind:fields='fields'
                    v-bind:model='model'
                    ref="dg_edicion"
                    name='edit_mesas'
                    v-on:onsubmit="onsubmit_dg"
                    ></valle-dg-edicion>


<script type="text/javascript">
  Vue.use(Toasted);
  new Vue({
    delimiters: ['[[', ']]'],
    el:'#app',
    data:{
      show_dialog: false,
      titulo: 'Listado Mesas',
      cabeceras: ['Nombre', "Orden", "Zona"],
      mensaje: 'Agregar mesa nueva',
      items: [
        {% for l in listado %}
            { cols: ['{{l.nombre}}', '{{l.orden}}', '{{l|zona}}'],
              botones: [{tipo:'edit', icon:'fa-edit'},
                        {tipo:'borrar', icon:'fa-trash'}],
              'obj': {"id":'{{l.id}}', "nombre": '{{l.nombre}}', 'orden':'{{l.orden}}',
              }
            },
        {% endfor %}
      ],
      fields: [
           {% for field in form %}
              {
               name: '{{field.name}}',
               label: '{{field.label }}',
               html: '{{field|get_control_vue }}'
              },
           {% endfor %}
         ]
      ,
      model: [ "nombre", "orden"],
    },
    methods:{
        action_click: function(obj, tipo){
          var cx = this;
          if (tipo=="borrar"){
            $.get('{% url "gestion:rm_mesa" id=1 %}'.replace('1', obj.obj.id), function(res){
                if (res == "success"){
                  cx.items.splice(cx.items.indexOf(obj), 1)
                }
            });
          }else if (tipo=="edit"){
             this.nuevo = false;
             obj.obj.item = obj
             this.$refs.dg_edicion.show(obj.obj, 'Editar mesa');
          }else if (tipo=="nuevo"){
             this.nuevo = true;
             console.log("Pepitoooeoeo");
             this.$refs.dg_edicion.show(null, 'Mesa nueva');
          }
        },
        onsubmit: function(data){
          var cx = this;
          $.post('{% url "gestion:lista_mesas" %}', data, function(res){
              cx.items = res;
          });
        },
        onsubmit_dg: function(data, obj){
          var url = '';
          var cx = this;
          if (this.nuevo){
             url = '{% url "gestion:add_mesa"  %}';
          }else{
             url = '{% url "gestion:edit_mesa" id=1 %}'.replace('1', obj.id);
          }
          $.post(url, data, function(res){
             if(obj != null){
               var index = cx.items.indexOf(obj.item);
               cx.items.splice(index, 1, res);
             }else{
               cx.items.push(res);
             }
          });
          this.$refs.dg_edicion.hide();
        }
      }
  });
</script>

{% endblock content %}
