Django
channels
channels-redis
mysqlclient
websocket-client
jinja2
django-cors-headers
trml2pdf
daphne
python-decouple
langchain
langchain-community
langchain-google-genai
langchain-openai
langchain-groq
langchain-xai
langgraph
python-telegram-bot
schedule
chromadb
sentence-transformers
reportlab
qrcode
Pillow
