{% extends "base_admin.html" %}
{% block content %}
{% load global_tag %}
{% load gestion_tag %}
{% include "controls/listado.html" %}
{% include "controls/dg_edicion.html" %}

<style media="screen">

   .btn_tpv {
      padi: 2px;
      width: 20%;
      height: 7em;
      display: inline-grid;
   }
</style>
<div id="app">
   {% if seccion %}
     <v-btn v-show="show_preview" fab button right fixed color="blue" @click="show_dialog = true">
          <v-icon>visibility</v-icon>
        </v-btn>
    {% endif %}

  <valle-listado v-bind:titulo='titulo'
                 v-bind:cabeceras='cabeceras'
                 v-bind:mensaje='mensaje'
                 v-bind:items='items'
                 v-on:action-click='action_click'
                 v-on:onsubmit="onsubmit"></valle-listado>

  <valle-dg-edicion v-bind:fields='fields'
                    v-bind:model='model'
                    :defaults='defaults'
                    ref="dg_edicion"
                    name='edit_teclas'
                    v-on:onsubmit="onsubmit_dg"
                    ></valle-dg-edicion>


  <valle-dg-edicion v-bind:fields='fields_orden'
                    v-bind:model='model_orden'
                    ref="dg_edicion_orden"
                    name='editar_orden'
                    v-on:onsubmit="onsubmit_dg_orden"
                    ></valle-dg-edicion>

  <v-dialog v-model='show_dialog'  persistent transition="dialog-bottom-transition">
    <v-card>
        <v-card-title class="toolbar" color="primary">
        <v-toolbar-title><v-btn icon left @click="show_dialog = false"><v-icon>close</v-icon></v-btn> Vista Seccion</v-toolbar-title>
        </v-card-title>
        <div class="text-left">
            <div class="btn_tpv text-center" v-for="item in items">
              <v-card  :color="item.obj.color">
                  <v-card-text class="px-0 w-20"><font color="black">[[item.obj.nombre]]</font></v-card-text>
              </v-card>
            </div>
        </div>
    </v-card>
  </v-dialog>

</div>

<script type="text/javascript">
  Vue.use(Toasted);
  new Vue({
    delimiters: ['[[', ']]'],
    el:'#app',
    data:{
      show_dialog: false,
      show_preview: {% if listado|length > 0 %} true {% else %} false {% endif %},
      titulo: 'Seccion: {{ nombre_seccion }}',
      cabeceras: ['Nombre', 'Precio 1', "Precio 2", "Tipo", "Orden"],
      mensaje: 'Agregar tecla',
      seccion: '{{seccion}}',
      defaults:[],
      items: [
        {% for l in listado %}
            {{l|get_items_edit}},
        {% endfor %}
      ],
      fields: [
           {% for field in form %}
              {
               name: '{{field.name}}',
               label: '{{field.label }}',
               html: '{{field|get_control_vue }}'
              },
           {% endfor %}
         ]
      ,
      fields_orden: [
           {% for field in form_secundary %}
              {
               name: '{{field.name}}',
               label: '{{field.label }}',
               html: '{{field|get_control_vue }}'
              },
           {% endfor %}
         ]
      ,
      model_orden: [ "orden"],
      model: [ "nombre", "p1", "p2", "orden", "tag", "ttf", 
               "familia", "descripcion_r", "descripcion_t", "tipo"],
      isNuevo: false,
    },
    methods:{
        action_click: function(obj, tipo){
          var cx = this;
          var cx = this;
          if (tipo=="borrar"){
            $.get('{% url "gestion:rm_tecla_seccion" id=1 idsecc=0 %}'.replace('/1', "/"+obj.obj.id)
            .replace("/0", "/"+cx.seccion), function(res){
                if (res == "success"){
                  cx.items.splice(cx.items.indexOf(obj), 1);
                   cx.show_preview = cx.items.length > 0;
                }
            });
          }else if (tipo=="edit"){
             this.nuevo = false;
             obj.obj.item = obj
             this.$refs.dg_edicion.show(obj.obj, 'Editar articulo');
          }else if (tipo=="edit_orden"){
            this.nuevo = false;
            obj.obj.item = obj
            this.$refs.dg_edicion_orden.show(obj.obj, 'Editar orden');
          }else if (tipo=="sugerencias"){
            location.href = '{% url "gestion:lista_sugerencias" id=1 %}'.replace('/1', "/"+obj.obj.id)
          }else if (tipo=="nuevo"){
            this.nuevo = true;
            this.$refs.dg_edicion.show(null, 'Articulo nuevo');
          }else if (tipo=="ML"){
            location.href = '{% url "gestion:lista_subteclas" id=1 %}'.replace('/1', "/"+obj.obj.id)
          }else if (tipo=="GR"){
            location.href = '{% url "gestion:lista_subteclas_grupo" id=1 %}'.replace('/1', "/"+obj.obj.id)
          }else if (tipo=="add"){
            this.add_tecla(this, obj.obj.id);
          }
        },
        add_tecla(cx, id){
          var url = '{% url "gestion:add_teclaseccion" id=1 idsecc=0 %}'.replace('/1', "/"+id)
          url = url.replace('/0', "/"+cx.seccion)
          $.get(url, function(res){
                cx.items = (res);
                cx.show_preview = cx.items.length > 0;
          });
        },
        onsubmit: function(data){
          var cx = this;
          $.post('{% url "gestion:lista_teclas_seccion" %}', data, function(res){
              cx.items = res;
              cx.show_perview = false;
          });
        },
        onsubmit_dg_orden: function(data, obj){
          var cx = this;
          var url = '{% url "gestion:edit_teclas_orden" id=1 %}'.replace('/1', "/"+obj.id)
          $.post(url, data, function(res){
            if (res.success == false){
                Vue.toasted.show('Todos los campos deben rellenarse..',  {
                  'position': 'top-center',
                  'fullWidth': true,
                  'duration': 2000,
                });
            }else{
             if(obj != null){
               cx.items = res;
               cx.$refs.dg_edicion_orden.hide();
             }
            }
          });
        },
        onsubmit_dg: function(data, obj){
          var url = '';
          var cx = this;
          if (this.nuevo){
             url = '{% url "gestion:add_articulo" %}';
          }else{
             url = '{% url "gestion:edit_articulo" id=1 %}'.replace('1', obj.id)
          }
          $.post(url, data, function(res){
             if(obj != null){
               var index = cx.items.indexOf(obj.item);
               cx.items.splice(index, 1, res);
             }else{
                cx.add_tecla(cx, res.obj.id);
             }
          });
          this.$refs.dg_edicion.hide();
        }
      }
  });
</script>

{% endblock content %}
