{% extends "base_admin.html" %}
{% block content %}
{% load global_tag %}
{% load gestion_tag %}
{% include "controls/listado.html" %}
{% include "controls/dg_edicion.html" %}
{% include "controls/dg_botonera.html" %}

<div id="app">
   {% if tecla %}
     <v-btn v-if="show_preview==true" fab button right fixed color="blue" @click="show_dialog_btn()">
          <v-icon>visibility</v-icon>
        </v-btn>
    {% endif %}

  <valle-listado v-bind:titulo='titulo'
                 v-bind:cabeceras='cabeceras'
                 v-bind:mensaje='mensaje'
                 v-bind:items='items'
                 v-on:action-click='action_click'
                 ref="listado"
                 v-bind:ocultar_find="ocultar_find"
                 v-on:onsubmit="onsubmit_find"></valle-listado>

  <valle-dg-edicion v-bind:fields='fields'
                    v-bind:model='model'
                    ref="dg_edicion"
                    name='add_tecla'
                    v-on:onsubmit="onsubmit_dg"
                    ></valle-dg-edicion>


  <valle-dg-botonera  :botones='items'
                      titulo_dg='Botones TPV'
                      ref='dg_botonera'
                      max_btn='18'
                      ></valle-dg-botonera>

  <valle-dg-edicion v-bind:fields='fields_orden'
                    v-bind:model='model_orden'
                    ref="dg_edicion_orden"
                    name='editar_orden'
                    v-on:onsubmit="onsubmit_dg_orden"
                    ></valle-dg-edicion>
</div>

<script type="text/javascript">
  Vue.use(Toasted);
  new Vue({
    delimiters: ['[[', ']]'],
    el:'#app',
    data:{
      show_preview: true,
      ocultar_find:  {{listado|is_max:18}},
      tecla: '{{tecla}}',
      defaults: [["tecla", '{{tecla}}']],
      titulo: "Tecla: {{nombre_tecla}}",
      cabeceras: ['Nombre', 'Precio 1', "Precio 2", "Tipo", 'Orden'],
      mensaje: 'Agregar articulo nuevo',
      items: [
        {% for l in listado %}
            {{l.tecla_child|get_items_edit}},
        {% endfor %}
      ],
      fields: [
            {% for field in form %}
               {
                name: '{{field.name}}',
                label: '{{field.label }}',
                html: '{{field|get_control_vue }}'
               },
            {% endfor %}
          ],
        fields_orden: [
           {% for field in form_orden %}
              {
               name: '{{field.name}}',
               label: '{{field.label }}',
               html: '{{field|get_control_vue }}'
              },
           {% endfor %}
         ],
      model_orden: [ "orden"],
      model: [ "nombre", "p1", "p2", "orden", "tag", "ttf", "familia",
               "descripcion_r", "descripcion_t", "tipo"],
      isNuevo: false,
    },
    methods:{
        show_dialog_btn: function(){
           this.$refs.dg_botonera.show();
        },
        action_click: function(obj, tipo){
          var cx = this;
          if (tipo=="borrar"){
            $.get('{% url "gestion:rm_subtecla_grupo" id=1 IDTecla=0 %}'.replace('/1', "/"+obj.obj.id)
            .replace("/0", "/"+this.tecla), function(res){
                if (res == "success"){
                  cx.items.splice(cx.items.indexOf(obj), 1);
                  cx.ocultar_find =  cx.items.length >= 18;
                  cx.show_preview = cx.items.length > 0;
                }
            });
          }else if (tipo=="edit_orden"){
             this.nuevo = false;
             obj.obj.item = obj
             this.$refs.dg_edicion_orden.show(obj.obj, 'Editar orden');
          }else if (tipo=="ML"){
            location.href = '{% url "gestion:lista_subteclas" id=1 %}'.replace('/1', "/"+obj.obj.id)
          }else if (tipo=="GR"){
            location.href = '{% url "gestion:lista_subteclas_grupo" id=1 %}'.replace('/1', "/"+obj.obj.id)
          }else if (tipo=='sugerencias'){
             location.href = '{% url "gestion:lista_sugerencias" id=1 %}'.replace('/1', "/"+obj.obj.id)
          }else if (tipo=="add"){
            this.add_tecla(this, obj.obj.id);
          }else if (tipo=='nuevo'){
            this.nuevo = true;
            this.$refs.dg_edicion.show(null, 'Tecla nueva');
          }else if (tipo=='edit'){
            this.nuevo = false;
            obj.obj.item = obj
            this.$refs.dg_edicion.show(obj.obj, 'Editar tecla');
          }
        },
        add_tecla(cx, id){
          var url = '{% url "gestion:add_subtecla_grupo" id=1 IDTecla=0 %}'.replace('/1', "/"+id)
          url = url.replace('/0', "/"+cx.tecla)
          $.get(url, function(res){
                cx.show_perview = true
                cx.items = (res);
                cx.ocultar_find =  cx.items.length >= 18;
                cx.show_preview = cx.items.length > 0;
          });
        },
        onsubmit_find: function(data){
          var cx = this;
          this.show_perview = false;
          $.post('{% url "gestion:lista_teclas_add"%}', data, function(res){
              cx.items = res;
          });
        },
        onsubmit_dg: function(data, obj){
          var url = '';
          var cx = this;
          if (this.nuevo){
             url = '{% url "gestion:add_articulo"  %}'
          }else{
             url = '{% url "gestion:edit_articulo" id=1 %}'.replace('1', obj.id)
          }
          $.post(url, data, function(res){
              if (!res.success){
                 Vue.toasted.show('Todos los campos deben rellenarse..',  {
                   'position': 'top-center',
                   'fullWidth': true,
                   'duration': 2000,
                 });
             }else if(obj != null){
              cx.items.splice(index, 1, res);
             }else{
              cx.add_tecla(cx, res.obj.id);
             }
          });
          this.$refs.dg_edicion.hide();

        }, 
        onsubmit_dg_orden: function(data, obj){
          var cx = this;
          var url = '{% url "gestion:edit_teclas_orden" id=1 %}'.replace('/1', "/"+obj.id)
          $.post(url, data, function(res){
            if (res.success == false){
                Vue.toasted.show('Todos los campos deben rellenarse..',  {
                  'position': 'top-center',
                  'fullWidth': true,
                  'duration': 2000,
                });
            }else{
             if(obj != null){
               cx.items = res;
               cx.$refs.dg_edicion_orden.hide();
             }
            }
          });
        }
    }
  });
</script>

{% endblock content %}
