<template id="dialogo-botonera">
  <div class="text-xs-center" data-app=true>
       <v-dialog v-model="show_dialog_btn"  class="mt-5"
                 max-width="600" >
         <v-card class="mx-auto">
         <v-card-title class="toolbar">
            <v-toolbar-title>
              <v-btn icon class='float-righ' @click="show_dialog_btn = false"> <v-icon> close </v-icon></v-btn>
              [[titulo_dg]]
            <v-toolbar-title>
          </v-card-title>
            <v-container row wrap class="p-0 m-0">
             <v-flex class='rounded-card' v-for='item in items' xs4>
               <v-card   :color="item.obj.color" height='80'>
                    <v-card-text class="px-0 w-20 text-center"><font color="black">[[item.obj.nombre]]</font></v-card-text>
               </v-card>
             </v-flex>
           </v-container>
        </v-card>

     </v-dialog>
  </div>
</template>

<script type="text/javascript">
  Vue.component('valle-dg-botonera',{
     delimiters: ['[[', ']]'],
     template: '#dialogo-botonera',
     props:['botones', "max_btn", 'titulo_dg', 'show_dialog_btn', 'items'],
     computed:{
       show_btn_pag: function(){
          return this.botones.length > this.max_btn;
       }
     },
     methods:{
        show: function(){
          this.pag = 1;
          this.show_dialog_btn = true;
          this.show_items();
        },
        hide: function(){
           this.obj = null
           this.show_dialog_btn = false;
        },
        next_pg: function(){
           if (this.pag == 1) this.pag = 2;
           else this.pag = 1;
           this.show_items();
        },
        show_items: function(){
             var max = 0;
             if (this.pag == 1){
                 max = this.max_btn <= this.botones.length  ? this.max_btn   :  this.botones.length
                 this.items =  this.botones.slice(0, max);
             }else{
                 var next = this.max_btn * this.pag;
                 max = next <= this.botones.length  ? next:  this.botones.length;
                 this.items =  this.botones.slice(this.max_btn, max);
             }
        }
     }
  });
</script>
