<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.valleapp.comandas" >

    <uses-permission android:name="android.permission.INTERNET" />

       <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_com"
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning"
        android:usesCleartextTraffic="true"
        android:theme="@android:style/Theme.Light">

           <uses-library android:name="org.apache.http.legacy" android:required="false" />

           <activity
            android:name="com.valleapp.comandas.Activitys.Camareros"
            android:label="@string/app_name"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
               android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.valleapp.comandas.Activitys.Preferencias"
            android:label="PreferenciasTpv"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.valleapp.comandas.Activitys.Mesas"
            android:label="Elegir Mesa"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.valleapp.comandas.Activitys.HacerComandas"
            android:label="@string/title_activity_comanda"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.valleapp.comandas.Activitys.BuscadorTeclas"
            android:label="@string/title_activity_buscador"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.valleapp.comandas.Activitys.OpMesas"
            android:label="@string/title_activity_op_mesas"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.valleapp.comandas.Activitys.BuscarPedidos"
            android:label="Buscar pedidos"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.valleapp.comandas.Activitys.Cuenta"
            android:label="@string/title_activity_cuenta"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.valleapp.comandas.Activitys.MostrarPedidos"
            android:label="@string/title_activity_mostrar_pedidos"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.valleapp.comandas.Activitys.Sugerencias"
            android:label="@string/title_activity_sugerencias"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
        </activity>
           <activity
               android:name="com.valleapp.comandas.Activitys.Autorias"
               android:label="@string/title_activity_autorias"
               android:configChanges="orientation"
               android:screenOrientation="portrait">
           </activity>
           <activity
               android:name="com.valleapp.comandas.Activitys.Refill"
               android:label="@string/title_activity_refill"
               android:configChanges="orientation"
               android:screenOrientation="portrait">
           </activity>
           <activity
               android:name="com.valleapp.comandas.Activitys.SendMensajes"
               android:label="@string/title_activity_sendmensajes"
               android:configChanges="orientation"
               android:screenOrientation="portrait">
           </activity>
       <service
           android:name=".utilidades.ServicioCom"
           android:enabled="true"
           android:exported="false" />


       </application>

</manifest>
