<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>ValleTpv suit completa para la hosteleria.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="tpv;hosteleria;telecomandas;impresoras;applicaciones a medida;" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="static/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <!-- brand portfolio -->
    <link href="static/css/portfolio.css" type="text/css" rel="stylesheet" media="all">
    <!-- //portfolio  -->
    <link href="static/css/brand.css" type="text/css" rel="stylesheet" media="all">
    <!-- color switch -->
    <link href="static/css/blast.min.css" rel="stylesheet" />
    <!-- font-awesome icons -->
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- banner -->
    <div id="home" class="banner">
        <!-- header -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light navbar-fixed-top">
            <div class="container">
                <h1 class="wthree-logo">
                    <a href="index.html" id="logoLink" data-blast="bgColor">V</a>
                </h1>
                <div class="nav-item  position-relative">
                    <a href="#menu" id="toggle">
                        <span></span>
                    </a>
                    <div id="menu">
                        <ul>
                            <li><a data-blast="color" href="#home" class="scroll">Inicio</a></li>
                            <li><a data-blast="color" href="#about" class="scroll">Sobre la APP</a></li>
                            <li><a data-blast="color" href="#portfolio" class="scroll">APP`s</a></li>
                            <li><a data-blast="color" href="#services" class="scroll">Servicios</a></li>
                            <li><a data-blast="color" href="#contact" class="scroll">Contacto</a></li>
                            <li><a data-blast="color" href="/media/" >Descargas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- //header -->
        <div class="container">
            <div class="banner-space">
                <div class="callbacks_container">
                    <ul class="rslides" id="slider3">
                        <li>
                            <h3 class="brand_wthree-title">Experincia intuitiva.</h3>
                            <h3 class="brand_wthree-title text-uppercase"><span data-blast="color">
                              Un programa totalmente implementado por y para el camarero. Para mejorar la vida y la experiencia
                                del usuario. Se adapta totalmente al operador, no al contrario.</span></h3>
                        <li>
                          <h3 class="brand_wthree-title">Control total</h3>
                          <h3 class="brand_wthree-title text-uppercase"><span data-blast="color"> Ten el control de las ventas. Las operaciones como el cobro, la apertura de una mesa,
                          cualquier anulación, los artículos servidos, artículos cobrados, etc. En tiempo Real!!!</span></h3>
                      </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <!-- //banner -->
    <!-- about -->
    <section class="wthree-row py-sm-5 py-4 about-top" id="about">
        <div class="container pt-lg-5">
            <div class="title-section py-lg-5">
                <h4>Comienzo fácil</h4>
                <h3 class="w3ls-title text-uppercase" data-blast="color">Estrategias</h3>
            </div>
            <div class="brand_wthreeits-top-row row py-md-4">
                <div class="col-lg-4 col-md-6 my-md-0 my-4">
                    <div class="brand_wthreeits-about-grids">
                        <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                        <h4 data-blast="color">Ahorra tiempo
                            <span></span>
                        </h4>
                        <p>Pedidos, mensajes, sugerencias a cocina o barra y la cuenta de forma instantánea.    </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  mb-lg-0 mb-4">
                    <div class="brand_wthreeits-about-grids">
                        <span class="fa fa-picture-o" aria-hidden="true"></span>
                        <h4 data-blast="color">Facil instalación
                            <span></span>
                        </h4>
                        <p>No necesita de tecnología cara. Con los mismos móviles del personal, una tablet y una impresora puedes empezar. </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-auto">
                    <div class="brand_wthreeits-about-grids">
                        <span class="fa fa-users" aria-hidden="true"></span>
                        <h4 data-blast="color">Facil aprencizaje
                            <span></span>
                        </h4>
                        <p>Desarrollado para un aprendizaje rápido. El personal nuevo se familiarizara en menos de 10 minutos.</p>
                    </div>
                </div>
            </div>
            <div class="brand_wthreeits-top-row row pb-md-4 mt-2">
                <div class="col-lg-4 col-md-6 my-md-0 my-4">
                    <div class="brand_wthreeits-about-grids">
                        <span class="fa fa-book" aria-hidden="true"></span>
                        <h4 data-blast="color">Garantizado.
                            <span></span>
                        </h4>
                        <p>Si no esta satisfecho con algún aspecto del sistema, podemos adaptarlo a sus necesidades. Somos programadores. Si no le devolvemos el dinero íntegro.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6  mb-lg-0 mb-4">
                    <div class="brand_wthreeits-about-grids">
                        <span class="fa fa-briefcase" aria-hidden="true"></span>
                        <h4 data-blast="color">Excepcional.
                            <span></span>
                        </h4>
                        <p>No creemos que exista otro software de este tipo igual. Nos encanta lo que hacemos. Somos especialistas en hostelería desde hace 20 años.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mx-auto">
                    <div class="brand_wthreeits-about-grids">
                        <span class="fa fa-phone" aria-hidden="true"></span>
                        <h4 data-blast="color">24*7 Soporte
                            <span></span>
                        </h4>
                        <p>Esté tranquilo estamos para usted 24/7. Cualquier problema se le solucionará sobre la marcha. No tiene que esperar a horarios especiales.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-bottom-brand_wthreeinfo pb-lg-5">
        <div class="row  no-gutters align-items-center abbot-main">
            <div class="col-lg-6 about-grid-brand_wthreeits py-5" data-blast="bgColor">
                <div class="about-grid">
                    <div class="container">
                        <div class="d-flex">
                            <div class="mx-auto">
                                <div class="title-section py-lg-5 pb-4">
                                    <h4>Poderosa herramienta</h4>
                                    <h3 class="w3ls-title text-uppercase text-white">Utilidad camarero.</h3>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Favoritos</h5>
                                        <p>Sección de favoritos donde organizar lo mas vendido por horarios. </p>
                                    </div>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="fa fa-search" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Buscador</h5>
                                        <p>Buscador inteligente para encontrar rápido lo que menos se vende o para el personal recién llegado o de extra.</p>
                                    </div>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="fa  fa-stack-exchange"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Rangos</h5>
                                        <p>Posibilidad de asociar rangos para un rápido acceso a las mesas que sirve cada camarero.</p>
                                    </div>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="fa fa-eye" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Control</h5>
                                        <p>Control de los pedidos no servidos con un solo vistazo.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  py-5">
                <div class="rgrid-brand_wthreeits">
                    <h4>"No vivas en el pasado <br> acepta el cambio <br> de la mejor manera."</h4>
                    <span class="about-line" data-blast="bgColor"></span>
                </div>
            </div>
        </div>
        <div class="row  no-gutters align-items-center abbot-main flex-row-reverse">
            <div class="col-lg-6 about-grid-brand_wthreeits" data-blast="bgColor">
                <div class="about-grid py-5">
                    <div class="container">
                        <div class="d-flex">
                            <div class="mx-auto">
                                <div class="title-section py-lg-5 pb-4">
                                    <h4>La mejor ayuda.</h4>
                                    <h3 class="w3ls-title text-uppercase text-white">Herramientas camarero.</h3>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Sugerencias</h5>
                                        <p>Enviar sugerencias de forma rápida. Predefinidas o al vuelo.</p>
                                    </div>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="fa fa-money" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Llamar la atención</h5>
                                        <p>Con un solo clic puede enviarse una nota para que se actué de forma urgente.</p>
                                    </div>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="fa fa-picture-o" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Control</h5>
                                        <p>Puedes cambiar mesas, juntar, cambiar solo una linea, saber la cuenta con una facilidad asombrosa. </p>
                                    </div>
                                </div>
                                <div class="wthree-list-grid d-flex flex-wrap">
                                    <div class="wthree-list-icon">
                                        <span class="fa fa-briefcase" aria-hidden="true"></span>
                                    </div>
                                    <div class="wthree-list-desc">
                                        <h5>Control de stock</h5>
                                        <p>Mensajería interna para el control de stock. Se puede avisar al vuelo cuando algo falta.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6  py-5">
                <div class="lgrid-brand_wthreeits">
                    <h4>"La clave de exito <br>mejorar diariamente <br> hasta conseguir la excelencia."</h4>
                    <span class="about-line" data-blast="bgColor"></span>
                </div>
            </div>



        </div>
    </section>
    <!-- //about -->
    <!-- portfolio -->
    <section id="portfolio" class="py-lg-5 portfolio-brand_wthree pt-3 pb-5">
        <div class="container py-lg-5">
            <div class="title-section pb-lg-5 text-center">
                <h4>Aplicaciones.</h4>
            </div>
            <div class="pb-lg-5 pb-sm-4">
                <ul class="demo row">
                    <li class="col-lg-4  col-md-6">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="static/images/vallecom.png" alt=" " class="img-fluid img-thumbnail" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center" data-blast="color">ValleCom</h6>
                                <p>
                                    Comandero de altas prestaciones. Rápido, ergonómico, intuitivo y probado por los mejores expertos en hostelería.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="static/images/valletpv.png" alt=" " class="img-fluid img-thumbnail" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center" data-blast="color">ValleTPV</h6>
                                <p>
                                  TPV android con todas la capacidades necesarias para el cobro y gestión de mesas, cobros por separado, cambio de mesas, lineas, borrar, cobrar con tarjeta, arqueos de caja, control de pagos, etc.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6 my-lg-0 my-md-4 mx-auto">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="static/images/receptor.png" alt=" " class="img-fluid img-thumbnail" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center" data-blast="color">ValleReceptor</h6>
                                <p>
                                  Receptor, ahorra en papel y envía mensajes instantáneos al personal para informar del stock, del tiempo de espera o cualquier eventualidad que pueda suceder..
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6 my-lg-0 my-md-4">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="static/images/gestion.png" alt=" " class="img-fluid img-thumbnail" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center" data-blast="color">Gestión</h6>
                                <p>
                                  Gestión en tiempo real. Alta, modificar, borrar artículos nunca fue tan fácil. Todo desde cualquier parte del mundo. Si tiene acceso a internet tiene el control de su negocio.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="static/images/ventas.png" alt=" " class="img-fluid img-thumbnail" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center" data-blast="color">Ventas</h6>
                                <p>
                                  Control de las ventas, stock, mesas abiertas, nulos, cobros, gastos, todo en una sola aplicación. Puede mandar un mensaje a todos los camareros o por separado. Conocer la venta diaria, mensual y mucho más.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4  col-md-6 mt-md-0 mx-auto">
                        <div class="img-grid">
                            <div class="gallery-grid1">
                                <img src="static/images/contabilidad.png" alt=" " class="img-fluid img-thumbnail" />
                            </div>
                            <div class="port-desc text-center">
                                <span class="line-wthree"></span>
                                <h6 class="main-title-w3pvt text-center" data-blast="color">Contabilidad</h6>
                                <p>
                                  Contabilidad sencilla para saber y controlar gastos en el negocio. Una forma sencilla para estar al corriente de como se comporta su negocio.
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <!-- //portfolio -->
    <!-- services -->
    <div class="row  no-gutters align-items-center abbot-main flex-row-reverse" id="services">
        <div class="col-lg-6 about-grid-brand_wthreeits py-5" data-blast="bgColor">
            <div class="about-grid">
                <div class="container">
                    <div class="d-flex">
                        <div class="mx-auto">
                            <div class="title-section py-lg-5 pb-4">
                                <h4>Servicios</h4>
                            </div>
                            <div class="wthree-list-grid d-flex flex-wrap">
                                <div class="wthree-list-icon">
                                    <span class="fa fa-thumbs-up" aria-hidden="true"></span>
                                </div>
                                <div class="wthree-list-desc">
                                    <h5>Aplicaciones</h5>
                                    <p>Podemos crear cualquier aplicación a medida. De cualquier tipo. El limite esta en su imaginación.</p>
                                </div>
                            </div>
                            <div class="wthree-list-grid d-flex flex-wrap">
                                <div class="wthree-list-icon">
                                    <span class="fa fa-money" aria-hidden="true"></span>
                                </div>
                                <div class="wthree-list-desc">
                                    <h5>Horarios</h5>
                                    <p>Montamos su sistema de control de horarios. El mejor que se adapte a usted.</p>
                                </div>
                            </div>
                            <div class="wthree-list-grid d-flex flex-wrap">
                                <div class="wthree-list-icon">
                                    <span class="fa fa-picture-o" aria-hidden="true"></span>
                                </div>
                                <div class="wthree-list-desc">
                                    <h5>Camaras</h5>
                                    <p>Montamos la cámaras de su establecimiento para su tranquilidad.</p>
                                </div>
                            </div>
                            <div class="wthree-list-grid d-flex flex-wrap">
                                <div class="wthree-list-icon">
                                    <span class="fa fa-phone" aria-hidden="true"></span>
                                </div>
                                <div class="wthree-list-desc">
                                    <h5>Consultoria</h5>
                                    <p>Pude consultarnos cualquier problema que surja. Somos expertos en hostelería.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6  py-sm-5 py-4">
            <div class="lgrid-brand_wthreeits">
                <h4>"Vivimos en continuo cambio— <br> Nosotros <br> hacemos que sea facil."</h4>
                <span class="about-line" data-blast="bgColor"></span>
            </div>
        </div>
    </div>

  <!-- contact -->
    <section class="wthree-row  w3-contact" id="contact">
        <div class="container py-5">
            <div class="title-section py-lg-5 text-center">
                <h4>24*7 soporte</h4>
                <h3 class="w3ls-title text-uppercase" data-blast="color">Contacta nos</h3>
            </div>
            <div class="row contact-form pt-5">
                <div class="offset-lg-2"></div>
                <div class="col-lg-8 wthree-form-left">
                    <!-- contact form grid -->
                    <fieldset class="contact-top1" data-blast="borderColor">
                        <legend class="text-dark mb-4 text-capitalize">Envianos un mensaje</legend>
                        <form action="/contactar/" method="post" class="f-color">
                            <div class="form-group">
                                <label for="contactusername">Nombre</label>
                                <input type="text" class="form-control" name="contactusername" required placeholder="Enter your name">
                            </div>
                            <div class="form-group">
                                <label for="contactemail">Email</label>
                                <input type="email" class="form-control" name="contactemail" required placeholder="Enter your Email">
                            </div>
                            <div class="form-group">
                                <label for="contactcomment">Tu mensaje</label>
                                <textarea class="form-control" rows="5" name="contactcomment" required placeholder="your message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-block" data-blast="bgColor">Enviar</button>
                        </form>
                    </fieldset>
                    <!--  //contact form grid ends here -->
                </div>
                <div class="offset-lg-2"></div>
            </div>
            <div class="contact-form pt-5">
                <div class="row contact-bottom">
                    <div class="col-md-4">
                        <div class="address">
                            <h5 class="pb-3 text-capitalize" data-blast="color">Direcion</h5>
                            <address>
                                <p class="c-txt">Plaza San lazaro, 9, local 3</p>
                                <p class="c-txt">Local encima de BTRES</p>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="address my-md-0 my-4">
                            <h5 class="pb-3 text-capitalize" data-blast="color">Telefonos</h5>
                            <p>
                                654302004</p>
                            <p>
                                629551976</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="address mt-md-0 mt-3">
                            <h5 class="pb-3 text-capitalize" data-blast="color">Email</h5>
                            <p>
                                <a href="mailto:manuelrodriguez@valleapp.com">manuelrodriguez@valleapp.com</a>
                            </p>
                            <p>
                                <a href="mailto:valleapp.store@gmail.com">valleapp.store@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //contact -->
    <!-- contact map grid -->
    <div class="map contact-right">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1589.0617340563874!2d-3.6075378634176207!3d37.18673089413863!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fce8df1fe38d%3A0xc53e15d7c8fd04c7!2sPlaza%20de%20San%20L%C3%A1zaro%2C%2018012%20Granada!5e0!3m2!1ses!2ses!4v1572096988022!5m2!1ses!2ses" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
    <!--//contact map grid -->
    <!-- footer -->
    <footer class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2 class="brand_wthree-title"><a href="index.html" class="text-capitalize" data-blast="color">ValleAPP</a></h2>
                </div>
                <div class="col-lg-3  mt-lg-0 mt-4">
                    <ul class="list-brand_wthreeits">
                        <li>
                            <a href="index.html" class="text-secondary">
                                Inicio
                            </a>
                        </li>
                        <li class="my-3">
                            <a href="#about" class="scroll text-secondary">
                                Sobre la APP
                            </a>
                        </li>
                        <li>
                            <a href="#contact" class="scroll text-secondary">
                                Contacta nos
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 mt-lg-0 my-4">
                    <div class="fv3-contact">
                        <span class="fa fa-envelope-open mr-2" data-blast="color"></span>
                        <p>
                            <a href="mailto:manuelrodriguez@valleapp.com" class="text-secondary">manuelrodriguez@valleapp.com</a>
                        </p>
                    </div>
                    <div class="fv3-contact my-3">
                        <span class="fa fa-phone mr-2" data-blast="color"></span>
                        <p class="text-secondary">654302004</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="subscribe-grid">
                        <h6 class="footer-wthree text-secondary">Suscripción a nuestras novedades</h6>
                        <form action="/suscribirse/" method="post" class="form-inline mt-3 border-bottom">
                            <input type="email" placeholder="Tu correo"  name="mail" required="">
                            <button class="btn1">
                                <span class="fa fa-paper-plane" data-blast="color"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer -->
    <div class="cpy-right text-center py-2" data-blast="bgColor">
        <p class="text-dark">© 2018 Brand. All rights reserved | Design by
            <a href="http://w3layouts.com" class="text-white"> W3layouts.</a>
        </p>
    </div>
    <!-- js -->
    <script src="static/js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!--  menu toggle -->
    <script src="static/js/menu.js"></script>
    <!-- Banner Responsiveslides -->
    <script src="static/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: false,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- // Banner Responsiveslides -->
    <!-- color switch -->
    <script src="static/js/blast.min.js"></script>
    <!-- Scrolling Nav JavaScript -->
    <script src="static/js/scrolling-nav.js"></script>
    <!-- start-smooth-scrolling -->
    <!-- portfolio -->
    <script src="static/js/jquery.picEyes.js"></script>
    <script>
        $(function () {
            //picturesEyes($('.demo li'));
            $('.demo li').picEyes();
        });
    </script>
    <!-- //portfolio -->
    <script src="static/js/move-top.js"></script>
    <script src="static/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script src="static/js/SmoothScroll.min.js"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/js/bootstrap.js"></script>
</body>

</html>
