/*--Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
 --*/
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #fff;
}

body a,
.screen-grid-wthree-pvt {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0;
    color: #333;
    font-size: 1em;
    line-height: 2;
}

ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}

body a:focus {
    outline: none;
    text-decoration: none;
}

.list-group-item {
    background-color: transparent;
}

/*-- bottom-to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/
/* banner */
section.banner {
    background: url(../images/banner-1.jpg) no-repeat center;
    background-size: cover;
    min-height: 650px;
    position: relative;
    z-index: 1;
}

section.banner:before {
    content: '';
    background: rgba(103, 58, 183, 0.78);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

section.slide-banner {
    background: url(../images/banner-1.jpg) no-repeat center;
    background-size: cover;
    min-height: 350px;
    position: relative;
    z-index: 1;
}

.slide-banner h5 {
    color: #fff;
    text-transform: capitalize;
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 1em;
}

a.logo-wthreepvt {
    text-transform: capitalize;
    color: #fff;
    font-weight: 900;
    font-size: 1.8em;
    letter-spacing: 1px;
}

h2.home-banner-w3 {
    color: #fff;
    font-size: 1.7em;
    margin: 1em 0 0.5em;
    text-transform: capitalize;
    text-align: center;
}

.wthree-link-bnr {
    padding: 8px 33px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    background: #FFC107;
    border: none;
    text-transform: capitalize;
    border-radius: 30px;
}

.wthree-link-bnr:hover {
    background: #673ab7
}
/* //banner */
/* about */
.about-wthree {
    padding: 5em 0 0;
}

.screen-grid-wthree-pvt {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(209, 209, 209, 0.92);
    -moz-box-shadow: 0px 5px 5px 0px rgba(209, 209, 209, 0.92);
    box-shadow: 3px 5px 5px 0px rgba(209, 209, 209, 0.92);
    padding: 1em;
    margin: 1em;
    background: #f3f3f3;
    border-radius: 10px;
}

.screen-grid-wthree-pvt:hover {
    margin-top: -1em;
    background: rgba(255, 193, 7, 0.49);
}

.about-wthree h3 {
    color: #673ab7;
    font-size: 2em;
    margin-bottom: 2em;
    font-weight: 600;
}

.demo-title h4 a {
    color: #000;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 1px;
    font-weight: 600;
}

.feature-list h5 {
    color: #000;
    text-transform: capitalize;
    font-size: 1.1em;
    border: 1px solid #673ab7;
    padding: 10px;
    margin: 1em;
    border-radius: 30px;
}
/* //single grid */
.single_grid_text {
    padding-left: 4em;
}

.single_grid_w3 {
    background: url(../screens/cookster.jpg) no-repeat;
    background-size: cover;
    min-height: 400px;
    border: 1px solid #d4d4d4;
}

.single_grid_w31 {
    background: url(../screens/cookster.jpg) no-repeat;
    background-size: cover;
}

.single_grid_w32 {
    background: url(../screens/aasana.jpg) no-repeat;
    background-size: cover;
}

.single_grid_w33 {
    background: url(../screens/incredible.jpg) no-repeat;
    background-size: cover;
}

.single_grid_w34 {
    background: url(../screens/brand.jpg) no-repeat;
    background-size: cover;
}

span.wthree-line {
    display: block;
    width: 50px;
    height: 3px;
    background: #FFC107;
}

.row.sec-space {
    margin-bottom: 6em;
}

.single_grid_text h6 {
    color: #673ab7;
    font-size: 2em;
    text-transform: capitalize;
    margin: 10px 0;
}

.single_grid_text p {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 0.5px;
    color: #333;
}

section.banner.slide-banner {
    margin-top: 5em;
}

/* //about */
.cpy-right {
    background: #673ab7;
    padding: 1em;
}

.cpy-right a {
    color: #ffc107;
}

/* -- Responsive code -- */

@media screen and (max-width: 1280px) {
    .slide-banner h5 {
        font-size: 2.2em;
    }

    .single_grid_text p {
        font-size: 19px;
    }

    .single_grid_text h6 {
        font-size: 1.8em;
    }

    .about-wthree h3 {
        font-size: 1.8em;
    }

    a.logo-wthreepvt {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 1080px) {
    .feature-list h5 {
        font-size: 0.95em;
    }
}

@media screen and (max-width: 1050px) {
    .about-wthree h3 {
        margin-bottom: 1.5em;
    }
}

@media screen and (max-width: 1024px) {
    .slide-banner h5 {
        font-size: 2em;
    }

    section.banner {
        min-height: 600px;
    }

    section.slide-banner {
        min-height: 300px;
    }
}

@media screen and (max-width: 991px) {
    .screen-grid-wthree-pvt {
        width: 70%;
        margin: 0 auto;
    }

    .single_grid_text {
        padding-left: 0;
        margin-top: 2em;
    }

    .single_grid_text h6 {
        font-size: 1.6em;
    }

    .single_grid_text p {
        font-size: 18px;
    }

    .row.sec-space {
        margin-bottom: 3em;
    }
}

@media screen and (max-width: 900px) {
    a.logo-wthreepvt {
        font-size: 1.5em;
    }

    section.banner {
        min-height: 530px;
    }

    section.slide-banner {
        min-height: 250px;
    }

    .slide-banner h5 {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 800px) {
    h2.home-banner-w3 {
        font-size: 1.5em;
    }

    .about-wthree {
        padding: 3em 0 0;
    }

    .about-wthree h3 {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 768px) {
    .slide-banner h5 {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 736px) {
    a.logo-wthreepvt {
        font-size: 1.3em;
    }

    h2.home-banner-w3 {
        font-size: 1.4em;
    }

    .wthree-link-bnr {
        padding: 8px 28px;
        letter-spacing: 0.5px;
    }
}

@media screen and (max-width: 667px) {

    .slide-banner h5 {
        font-size: 1.5em;
    }

    section.banner.slide-banner {
        margin-top: 3em;
    }
}

@media screen and (max-width: 640px) {
    .slide-banner h5 {
        margin-bottom: 0.5em;
    }
}

@media screen and (max-width: 600px) {
    section.banner {
        min-height: 450px;
    }

    h2.home-banner-w3 {
        line-height: 1.5;
        padding: 10px;
    }

    section.banner.slide-banner {
        min-height: 220px;
    }

    .slide-banner h5 {
        line-height: 1.5;
    }
}

@media screen and (max-width: 568px) {}

@media screen and (max-width: 480px) {
    section.banner {
        min-height: 400px;
    }

    a.logo-wthreepvt {
        font-size: 1.1em;
    }

    .slide-banner h5 {
        font-size: 1.3em;
    }

    .screen-grid-wthree-pvt {
        width: 100%;
    }
}

@media screen and (max-width: 414px) {
    h2.home-banner-w3 {
        font-size: 1.2em;
    }

    .about-wthree h3 {
        line-height: 1.5;
    }
}

@media screen and (max-width: 384px) {}

@media screen and (max-width: 375px) {
    .single_grid_text p {
        font-size: 17px;
    }

    .wthree-link-bnr {
        padding: 5px 28px;
    }

    .single_grid_text p {
        font-size: 16px;
    }

    .single_grid_text h6 {
        font-size: 1.5em;
    }

    .about-wthree {
        padding: 1em 0 0;
    }
}

@media screen and (max-width: 320px) {
    h2.home-banner-w3 {
        font-size: 1.1em;
    }

    a.logo-wthreepvt {
        font-size: 1em;
    }

    .about-wthree h3 {
        margin-bottom: 0.5em;
    }

    .feature-list h5 {
        margin: 1em 0;
    }

    .about-wthree h3 {
        font-size: 1.2em;
    }
}

/* -- //Responsive code -- */