<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.valleapp.valletpv" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Camareros"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Arqueo"
            android:label="@string/title_activity_arqueo"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PreferenciasTPV"
            android:label="@string/title_activity_preferencias_tpv"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mesas"
            android:label="@string/title_activity_mesas"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".Cuenta"
            android:label="@string/title_activity_cuenta"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".OpMesas"
            android:label="@string/title_activity_op_mesas"
            android:screenOrientation="landscape">
        </activity>

        <service
            android:name=".Util.ServicioCom"
            android:enabled="true"
            android:exported="false" >
        </service>
    </application>

</manifest>
