{% extends "base_admin.html" %}
{% block content %}
{% include "menus.html" %}

<div id="app">
  <valle-menu v-bind:titulo='titulo'
              v-bind:items='items'
              v-on:onclick="onclick"></valle-menu>
</div>

<script type="text/javascript">
  Vue.use(Toasted);
  var app = new Vue({
      el: '#app',
      data:{
        titulo: "Sicronizaciones",
        items:[
          { titulo: "Camareros", id:'camarero'},
          { titulo: "Mesas", id:'mesas'},
          { titulo: "Teclados", id:'teclados'},
          { titulo: "Teclados Comanda", id:'tecladoscom'},
          { titulo: "Subteclas", id:'subteclas'},
        ]
      },
      methods:{
          onclick: function(item){
              var url = ''
              if (item.id == 'camarero') url = "{% url 'gestion:sync_camareros' %}";
              else if (item.id == 'teclados') url = "{% url 'gestion:sync_secciones' %}";
              else if (item.id == 'tecladoscom') url = "{% url 'gestion:sync_teclascom' %}";
              else if (item.id == 'subteclas') url = "{% url 'gestion:sync_subteclas' %}";
              else if (item.id == 'mesas') url = "{% url 'gestion:sync_mesas' %}";
              else return false;
              $.get(url, function(res){
                   if (res.success){
                     Vue.toasted.show('Sincronizacion realizada con exito',  {
                       'position': 'top-center',
                       'fullWidth': true,
                       'duration': 2000,
                     });
                   }
              })
          }
      }
  })
</script>
{% endblock content %}
